# Dependencias
node_modules
.pnp
.pnp.*

# Builds
dist
build
out
.next
.turbo
*.tsbuildinfo
next-env.d.ts

# Prisma (cliente generado)
**/generated

# Entornos
.env
.env.*
!.env.example

# Uploads (dev)
apps/admin-web/public/uploads/*
!apps/admin-web/public/uploads/.gitkeep

# Logs
*.log
npm-debug.log*

# Sistema
.DS_Store
*.pem

# Editores
.vscode/*
!.vscode/extensions.json
.idea

# Expo (mobile, futuro)
apps/mobile/.expo
